@import './configuration/colors';
@import './configuration/typos';
@import './configuration/main';
@import './configuration/placeholders';
@import './configuration/header';
@import './configuration/footer';
